<a href="https://colab.research.google.com/github/sjohjun/yseduSchool/blob/main/20230412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 타입

# - int, str, bool 등

In [2]:
num_int = 30
print(num_int)
print(type(num_int))

30
<class 'int'>

In [3]:
#float type

my_height = 180
print(my_height)
print(type(my_height))

180
<class 'int'>

In [4]:
#str type

my_name = "evan"
print(my_name)
print(type(my_name))

evan
<class 'str'>

In [5]:
#bool

x = True
y = False
z = x == y

print(z)

False

In [8]:
#사칙연산

x = 3
y = 6

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x // y)
print(x ** y)

9
-3
18
0.5
3
0
729

In [10]:
x = 10
y = 11

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x <= y)
print(x >= y)

False
True
False
True
True
False

In [14]:
a = int(input("숫자를 입력하세요"))

print(a)
print(type(a))

숫자를 입력하세요1
1
<class 'int'>

In [15]:
#String

a = "소년은 "
b = "봄을 "
c = "좋아합니다."

print(a + b + c)

소년은 봄을 좋아합니다.

In [20]:
x = "봄"
lyrics = (x +" ") * 3
print(lyrics)

봄 봄 봄

In [28]:
#인덱싱 슬라이싱

x = "Hello World"

#첫번째 문제 : Hello의 알파벳 o
print(x[4])

#두번째 문제 : world의 알파벳 l

print(x[-2])

#세번째 문제 : world 글자 출력

print(x[6:])

o
l
World

In [29]:
x = "Hello World"

print(x[0:11:2])

HloWrd

In [43]:
x = "Hello World"

y = x.replace("H", "A")
print(y)

Aello World

In [45]:
x = "Hello World"
x = "A" + x[1:]
print(x)

Aello World

In [46]:
# 문자열 메서드

sampleText = "Hello, Kaggle"
upper_text = sampleText.upper()
print(upper_text) #str만 가능

HELLO, KAGGLE

In [52]:
sampleText = "Hello, world"
new_text = sampleText.split(sep = ",")
print(new_text)

['Hello', ' world']

In [55]:
A, B = map(int, input().split())

if A > 0 and B < 10:
    print(A + B)

1 2
3

In [61]:
#시퀀스 데이터

#시퀀스 데이터여야 반복문 실행가능

from collections.abc import Sequence

my_num = 100
my_list = [1,2,3]
my_string = "hello"

isSeq1 = isinstance(my_list, Sequence)
print(isSeq1)

True

In [70]:
#인덱싱 & 슬라이스
#리스트 역시 문자열 돌렸던 방식과 동일

# 문제 1: banana 글자에서 알파벳 a (글자의 마지막 추출)
# 문제 2: 
b = [1, 2, ["apple", "banana", "lemon"], 10, "11"]

c = b[2][1]

print(c[5])
print(b[2][1:3])

a
['banana', 'lemon']

In [86]:
#리스트 메서드 종류
a = []
# 1. append()
q = [1,2,3,4,54]
a.append(q) #리스트 그 자체로 넣어버림

# 2. extend

text = ["a", 2, "b"] # 안에 있는 내용을 넣음
a.extend(text)

# 3. insert
x = ["가", "나", "다"]
x.insert(2, "라") #2번 인덱스 자리에  "라" 입력 "다"가 뒤로 밀림
print(x)

#4. 리스트 값 변경
y = ["가", "나", "다", 2]
y[3] = "라"
y

#5 리스트 값 삭제
dates = [412, 510, 531, 1010] #412 제거
dates.remove(412)

#6 del

del dates[0]
dates

['가', '나', '라', '다']

[531, 1010]

In [88]:
# 튜플

my_tuple = ("hi", 1, 2, 3)
print(my_tuple)
print(type(my_tuple))

('hi', 1, 2, 3)
<class 'tuple'>

In [96]:
# 리스트와 튜플의 공통점

a = (1, 2, ("Apple", "사과", "banana", "키위"), 4, 5, 6)
a[2][2][-1]

# 튜플은 수정이 불가능하다.
dates = (419,222,333,44,5)
dates.remove(419) #remove 안됨
del dates[0] #삭제도 불가능
dates[0] = 1 #변경도 불가능

AttributeError: ignored

In [100]:
my_tuple = ("가", "나", "나", "라")
print(my_tuple.count("나"))
print(my_tuple.index("나"))

2
1

In [111]:
# 딕셔너리

my_dict = {
    "name" : "chris",
    "age" : 28,
    "job" : "student",
}


#문제 : 태어난 도시를 추가하세요.
#딕셔너리 값 추가

my_dict["city"] = "seoul"

my_dict

# 값 수정
my_dict["shopping"] = ""
my_dict

{'name': 'chris', 'age': 28, 'job': 'student', 'city': 'seoul', 'shipping': ''}

In [116]:
print(my_dict.keys())
print(my_dict.values())


result = list(my_dict.items())
print(result)

dict_keys(['name', 'age', 'job', 'city', 'shipping'])
dict_values(['chris', 28, 'student', 'seoul', ''])
[('name', 'chris'), ('age', 28), ('job', 'student'), ('city', 'seoul'), ('shipping', '')]

In [117]:
for i in my_dict:
  print(i) #인덱스 번호로 할당이되거나 그런게 아님 / key값
  #print(my_dict[i])

name
age
job
city
shipping

In [122]:
#조건문

a = 30
b = 30

if a > b:
  print("a가 더 크다.")
elif a < b:
  print("b가 더 크다.")
else:
  print("두개가 같다.")

두개가 같다.

In [126]:
# 문제 input() 임의의 숫자만 입력 1~100
#90점이상 a 80점이상 b 나머지 c

score = int(input("점수를 입력하세요 : "))

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
else:
  print("C")

점수를 입력하세요 : 0
C

In [ ]:
#for loop
#반복문을 쓰는 이유 - 반복 작업

print("Hello World \n" * 100)

In [133]:
programming = ["파이썬", "HTML", "CSS", "JAVA"]
p = 1

for idx in programming:
  print(idx)
else:
  print("프로그램 종료")
for idx in p:
  print(idx) #int 타입 시퀸스 x 반복문 사용불가

파이썬
HTML
CSS
JAVA
프로그램 종료

TypeError: ignored

In [135]:
for idx, item in enumerate(programming):
  print(idx + 1, item)

1 파이썬
2 HTML
3 CSS
4 JAVA